* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: white;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-right: 2%;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    background: linear-gradient(135deg,  #136385, #48a33a, #ebdf32);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap; 
}

main {
    flex: 1; 
     background: white;
     color: black;
     width: 100%;
     display: flex;
     .container
     {
        text-align: center;
        padding: 2%;
        width: 100%;
     }
     p {
        text-align: center;
     }


form {
    margin: 20px auto;          
  padding: 20px;             
  max-width: 500px;           
  background: linear-gradient(135deg,  #136385, #48a33a, #ebdf32);
  border-radius: 12px;       
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
  display: flex;
  flex-direction: column;      
  gap: 15px;    
  border: none; 
  color: white;  
  
  button {
  background-color: #0c0c0c;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

  
button:hover {
 box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}
}



@media (min-width: 768px) {
  button {
   padding: 16px 48px;

  }

  }

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
  background-color: #e0e0e0;   
  border: none;                
  border-radius: 8px;          
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

}

 .card-container {
  display: flex;
  flex-wrap: wrap;       
  justify-content: center; 
  gap: 2rem;             
  margin-top: 2rem;
  width: 100%;
}

.card-container article {
  flex: 0 1 250px;   
  text-align: center;
  background: linear-gradient(135deg,  #136385, #48a33a, #ebdf32);
  padding: 1rem;
  border-radius: 10px;
}

.card-container article:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.logo {
        width: 350px;
    }

footer {
    position: relative;
    width: 100%;
    background: linear-gradient(135deg, #136385, #48a33a, #ebdf32);
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    white-space: nowrap;
}


footer nav {
    margin-left: auto;
    display: flex;
    gap: 15px;
}

footer nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

footer nav a:hover {
    text-decoration: underline;
}


.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
}


#menu-toggle {
    display: none;
}


@media (max-width: 600px) {
    header {
        flex-direction: column; 
        align-items: flex-start;
    }
    footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-icon {
        display: block;
        margin-left: auto;
        margin-right: 1rem;
    }
    nav {
       display: none;
        flex-direction: column;
        width: 100%;
    }
   #menu-toggle:checked ~ nav {
        display: flex;
    }
    nav a {
        width: 100%;
        padding: 0.5rem 0;
        border-top: 1px solid rgba(255,255,255,0.2);
    }

    nav a:last-child {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .logo {
   
   width: 200px;
    }
    
}

.success {
    display: inline-block;
    padding: 10px 20px;
    background-color: greenyellow; 
    color: white;
    font-weight: bold;
    border-radius: 20px; 
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
}
.error {
   display: inline-block;
    padding: 10px 20px;
    background-color: red; /* zelená */
    color: white;
    font-weight: bold;
    border-radius: 20px; /* kulaté rohy */
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
}